/Exemplo1/nbproject/private/
/Exemplo1/build/
/Exemplo2/nbproject/private/
/Exemplo2/build/
/Exemplo3/nbproject/private/
/Exemplo3/build/
/Exemplo1(2)/nbproject/private/
/Exemplo1(2)/build/
/Exemplo1(2)/dist/
/Exemplo2(2)/nbproject/private/
/Exemplo2(2)/build/
/Exemplo2(2)/dist/
/Exemplo3(2)/nbproject/private/
/Exemplo3(2)/build/
/Exemplo5/nbproject/private/
/Exemplo5/build/
